version: "3"

services:
  container:
    image: <TBD>
    container_name: <TBD>
    hostname: <TBD>
    user: docker:docker
    group_add:
      - audio
      - dialout
      - sudo
      - video
    environment:
      DISPLAY: ${DISPLAY}
      QT_X11_NO_MITSHM: 1
      NVIDIA_DRIVER_CAPABILITIES: all
      NVIDIA_VISIBLE_DEVICES: all
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /dev:/dev
      - /tmp/.X11-unix:/tmp/.X11-unix
      - <Bind mount to container src>

    tmpfs:
      - /tmp
    runtime: nvidia
    tty: true
    stdin_open: true
    privileged: true
