name: Build and push docker image to docker hub

on: [push]

jobs:
  base:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [host, rpi, jetson]

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Build and push Docker image
        uses: ./.github/actions/build
        with:
          target: ${{ matrix.target }}
          distro: base
          docker_username: ${{ secrets.DOCKER_USERNAME }}
          docker_token: ${{ secrets.DOCKER_TOKEN }}

  devel:
    needs: base
    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [host, rpi]

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Build and push Docker image
        uses: ./.github/actions/build
        with:
          target: ${{ matrix.target }}
          distro: devel
          docker_username: ${{ secrets.DOCKER_USERNAME }}
          docker_token: ${{ secrets.DOCKER_TOKEN }}

  apps:
    needs: [base, devel]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - target: rpi
            distro: deploy
          - target: host
            distro: driverless

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v3

      - name: Build and push Docker image
        uses: ./.github/actions/build
        with:
          target: ${{ matrix.target }}
          distro: ${{ matrix.distro }}
          docker_username: ${{ secrets.DOCKER_USERNAME }}
          docker_token: ${{ secrets.DOCKER_TOKEN }}
